[Unit]
Description=PeerBanHelper Service
After=network.target

[Service]
Type=exec
WorkingDirectory=/opt/peerbanhelper
ExecStart=/usr/bin/peerbanhelper
SuccessExitStatus=143
Restart=always
RestartSec=20s

[Install]
WantedBy=multi-user.target
