[Unit]
Description=V2Ray Service
Documentation=https://www.v2fly.org/
After=network.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
NoNewPrivileges=true
ExecStart=v2ray run -format=json -c /etc/v2ray/%i.conf
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
