[Unit]
Description=V2Ray Service
Documentation=https://www.v2fly.org/
After=network.target nss-lookup.target
Wants=network-online.target

[Service]
Type=exec
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
NoNewPrivileges=true
Environment="V2RAY_LOCATION_ASSET=/usr/share/v2ray"
ExecStart=v2ray run -format=json -c /etc/v2ray/%i.conf
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
