[Unit]
Description=A Tunnel which Turns UDP Traffic into Encrypted UDP/FakeTCP/ICMP Traffic by using Raw Socket,helps you Bypass UDP FireWalls
After=network.target
Wants=network-online.target

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_RAW
NoNewPrivileges=true
ExecStart=udp2raw --conf-file /etc/udp2raw/udp2raw.conf
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
